<h1>Hello World </h1>
<p>My host name is <%= node['hostname'] %></p>
<p>I am <%= node['current_user'] %></p>
<p>foo attribute value <%= node['apache']['foo'] %></p>
<p>Greeting! <%= node['apache']['greeting'] %></p>
<p>This sie is <%= @site_name %>
<p>This site IP is <%= node['ipaddress'] %>:<%= @port %></p>
